body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header,
.footer {
    display: flex;
    padding: 12px;
    align-items: center;
}

.header {
    justify-content: space-between;
    background-color: cadetblue;
    color: black;
}

.header-logo {
    font-weight: bolder;
    font-size: 24px;
    padding-left: 10%;
}

.header-links {
    padding-right: 10%;
}

.footer {
    justify-content: center;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

.top {
    display: flex;
    align-items: center;
    background-color: cadetblue;
}

.center {
    text-align: center;
}

.illustrations {
    display: flex;
    justify-content: center;
    align-items: center;
}