body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: "Gill Sans", sans-serif	;
}

.header,
.footer {
    display: flex;
    align-items: center;
    background-color: #10211a;
    color: whitesmoke;
}

.header {
    justify-content: center;
    gap: 470px;
    padding: 12px;
}

.header-logo {
    font-weight: bolder;
    font-size: 24px;
    flex-shrink: 0;
}

.header-links {
    flex-shrink: 0;
}

.footer {
    justify-content: center;
    padding: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.top {
    display: flex;
    background-color: #10211a;
    color: whitesmoke;
    flex-shrink: 0;
    gap: 90px;
    padding: 100px 100vh;
    overflow-x: hidden;
}

.center {
    padding-top: 24px;
    padding-bottom: 70px;
}

.illustrations {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding: 70px 100vh;
    overflow-x: hidden;
    font-weight: lighter;
}

.quote-text {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    font-family: "FreeMono", monospace;
    width: 900px;
    margin: 0;
}

.quote-author {
    text-align: right;
    padding: 10px;
    font-weight: bold ;
    margin: 0;
    padding-bottom: 35px;
    font-size: 36px;
}

.top-card  {
    width: 400px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
}

h3 {
    font-size: 32px;
    margin: 0;
}

.top-p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 12px;
}

img {
    border-radius: 10px;
    border-style: solid;
}

.center-card {
    width: 180px;
    font-size: 18px;
    text-align: center;
}

.bottom {
    display: flex;
    background-color: #3882F6;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
    border-radius: 10px;
    gap: 200px;
}

.bottom-p {
    margin: 0;
}

button {
    background-color: #10211a;
    color: #E5E7EB;
    border: solid;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 12px;
    border-color: #3882F6;
}

@media only screen and (max-width: 760px) {
    .content {
        justify-content: space-between;
        align-items: center;
    }

    .header {
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .top {
        flex-direction: column;
        padding: 0;
        flex-shrink: 2;
        gap: 5px;
        border-radius: 10px;
    }

    .top-card  {
        width: 300px;
        padding: 10px;
        margin-top: 10px;
    }

    .quote {
        padding: 10px;
        border-radius: 10px;
    }

    .quote-text {
        width: 300px;
    }

    .illustrations {
        flex-direction: column;
    }

    .bottom {
        padding: 5px 10px;
        flex-direction: column;
        gap: 5px;
        max-width: 250px;
    }

    .large-illustration {
        width: 300px;
        height: auto;
        margin: 10px;
    }

    ul {
        flex-direction: column;
        gap: 0;
    }

}